# Pre-boot Camp Python Basics

# Today's Objective
- Review of previous Python Basic class activity
- Review of previous class homework solution
- Coditional (if/else)
- Nested List
- Nested Dictionaries
- Nested Loops

# Previous Python Basic class activity

- Previous class Notebook [Link](https://colab.research.google.com/drive/1V4ngCJG9hPhAg8unU_f9GmApK6crjbAe?usp=sharing) , for reference
- Recorded lesson [Video link](https://youtu.be/X_DVgRbnE00)

- How to create Google colab notebook

In [ ]:
# Strings

x = 'Hello everyone!'
type(x)

str

In [ ]:
# numbers - integer
x = 10
type(x)

int

In [ ]:
# numbers - float
x = 5.3
type(x)

float

In [ ]:
# Boolean (True/False)
x = False
type(x)

bool

In [ ]:
# Tuple
# It can store multiple items in a single variable
# Tuple are unchangeable/immutable
# Tuple items are indexed, the first item has index [0], the second item has index [1] and so on

x = (7,5,4,2,4)
type(x)

tuple

In [ ]:
# Try to change the item at index [0] with 10, it will give error because tuple items are unchangeable/immutable
x[0] = 10

TypeError: ignored

In [ ]:
# List
# It can store multiple items in a single variable
# Lists are changeable/mutable
# Lists items are indexed, the first item has index [0], the second item has index [1] and so on

x = [3,5,4,7,3,9]
type(x)

list

In [ ]:
# Try to change the item at index [0] with 10
x[0] = 15
x

[15, 5, 4, 7, 3, 9]

In [ ]:
# Dictionary
# It store data values in key:value pairs
# Dictionaries are changeable and do not allow duplicates

my_dict = {"name": "Purvi",
           "address": "1234 56th ave ",
           "Mobile": 9876543210}

print(my_dict)

{'name': 'Purvi', 'address': '1234 56th ave ', 'Mobile': 9876543210}

In [ ]:
# Print Mobile from my_dict

my_dict['Mobile']

9876543210

# Homework notebook solution

Task 1 : Write a code to generate two lists and print them

In [ ]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e','f','g']
print(list1)
print(list2)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# printing the addition of list1 and list2
list3 = list1 +list2
print(list3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', 'f', 'g']


Task2 : Find the length of both list without using len() function

- Hint :  use for loop

In [ ]:
len(list1)

5

In [ ]:
# initialize variable l with 0
l = 0

# loop through the list1 and increment l
for i in list1:
  l = l+1
print(l)

5

Task3 : Find the square of all elements in list1 and print

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
# square of list items without storing in list

# loop through list1 and multiply  i * i to get the square
for i in list1:
  x = i * i    # pow(i,2) can also be used to find square
  print(x)

1
4
9
16
25

In [ ]:
# square of list items and storing in list by append()

# create empty list square_list
square_list =[]

# loop through list1 and append square of item in square_list[] using append()
for i in list1:
  square_list.append(i**2)
print(square_list)

[1, 4, 9, 16, 25]

Task 4: Change 3rd element of the list to 50 and append 100 at the end

In [ ]:
list1[2] = 50
list1.append(100)
list1

[1, 2, 50, 4, 5, 100]

Task5 : Write a simple code to generate the dictionary of Car which includes multiple type of data about the car. Example :
> Brand, model, year, price

In [ ]:
my_car  = {'brand': 'Honda',
           'model': 'Civic',
           'Year':2020,
           'price': 20000}

# Nested List
- List within the list

In [ ]:
# Creating Nested List
x = [1,2,3,[10,11,12],'numbers']
x

[1, 2, 3, [10, 11, 12], 'numbers']

- List indexing
>![image.png]()

- Nested list indexing
>![image.png]()

In [ ]:
# Accessing Nested list item by index
x= [1,2,[3,4,5],6,7]

x[2]

[3, 4, 5]

In [ ]:
#x= [1,2,[3,4,['a','b'],[1,1]],5,6],7]

In [ ]:
# print 4 from the list
#x[2][1]
x[-3][-2]

4

In [ ]:
# print 5 using negative indexing
x[-3][-1]

5

# List Slicing
>![image.png]()

In [ ]:
# print first three items
x = ['a','b','c','d','e','f','g']
x[0:3]

['a', 'b', 'c']

In [ ]:
# print all items starting from c
x[2:]

['c', 'd', 'e', 'f', 'g']

In [ ]:
# print last three items
x[-3:-1]

['e', 'f']

In [ ]:
# print all items of list
x[::]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# print all items in reverse order
x[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
# print alternate items in the list
#x[0:7:2]
x[::2]

['a', 'c', 'e', 'g']

# Conditions ( if / else )

- Equals: a = = b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

In [ ]:
# If example

a = 10
b = 20
if a < b :
  print('a is less than b')     # look at the indentation

a is less than b

In [ ]:
# If / Else
a = 10
b = 20
if a>b:
  print('a is grater than b')
else:
  print('b is grater than a')

b is grater than a

In [ ]:
# elif  (if previous condition is not true than check elif condition)

if a>b:
  print('a is grater than b')
elif a==b:
  print('a is equal to b')
else:
  print('a is less than b')

a is equal to b

# Loop with condition

In [ ]:
# print only positive numbers from the list x

# create the list with mixed numbers
x = [1,5,3,-4,2,-2]

# # loop through list x and check for negative numbers to skip
# for i in x:

#   # if number is negative continue to next item
#   if i<0:
#     continue
#   else:
#     print (i)

for i in x:
 print(i)

1
5
3
-4
2
-2

In [ ]:
list3

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# Another example using lists created before in Task1

# loop through list3
for i in list3:

  # check if type of item in list3 is string and convert it to upper case
  if type(i)==str:
    print(i.upper())

  # Else increment it by 1 and print
  else:
    print(i+1)

2
3
4
5
6
A
B
C
D
E
F
G

In [ ]:
lst= ['banana','apple']
lst[1]

'apple'

# Loop with nested list

In [ ]:
# create a list with nested list
fruit_color = [['Apple','Red'],['Banana','Yellow'],['Orange','Orange'],['Kiwi','Golden']]

# loop thorough the list and print fruit and its color
for fruit in fruit_color:
   print(fruit)
   print(f" {fruit[0]} is {fruit[1]} color.")

['Apple', 'Red']
 Apple is Red color.
['Banana', 'Yellow']
 Banana is Yellow color.
['Orange', 'Orange']
 Orange is Orange color.
['Kiwi', 'Golden']
 Kiwi is Golden color.

# Function_3

# Nested Dictionaries

In [ ]:
# create the dictionary of student with subject name and score
subject_dict = {'Aaa':{'Physics': 72,
                       'Math': 85,},
                'Bbb':{'Physics': 60,
                       'Math': 75,},
                'Ccc':{'Physics': 90,
                       'Math': 80,},
                'Ddd':{'Physics': 74,
                       'Math': 65,}}

# .keys() method is for accessing the keys in directories
subject_dict.keys()

dict_keys(['Aaa', 'Bbb', 'Ccc', 'Ddd'])

In [ ]:
# .values() method is for accessing the values in directories
print(subject_dict.values())

dict_values([{'Physics': 72, 'Math': 85}, {'Physics': 60, 'Math': 75}, {'Physics': 90, 'Math': 80}, {'Physics': 74, 'Math': 65}])

In [ ]:
subject_dict['Bbb']

{'Math': 75, 'Physics': 60}

In [ ]:
# what is the math score of 'ccc' ?

subject_dict['Ccc']['Math']

80

In [ ]:
# loop through nested dictionary and print Physics and Math score for all students

for name,subject in subject_dict.items():
    print(f" {name}, scored  {subject['Physics']} in Physics and {subject['Math']} in Maths")

 Aaa, scored  72 in Physics and 85 in Maths
 Bbb, scored  60 in Physics and 75 in Maths
 Ccc, scored  90 in Physics and 80 in Maths
 Ddd, scored  74 in Physics and 65 in Maths

In [ ]:
# check if student Xxx is present in the student directory or not and print appropriate message

# take input from the user and save it in a variable name
name=input()

if name in subject_dict.keys():
  print(f" {name}, is in the directory")
else:
  print(f" {name}, is not in the directory")

purvi
 purvi, is not in the directory

# Nested loops
- loops within loops

In [ ]:
# create a nested list with movie names

movies = [['Friends','Family Guy','Spider Man','Game of Thrones'],
          ['Over the Moon','Luca','Home Alone'],
          ['Breaking bad','Captain America']]

# loop through the movies
for sublist in movies:

  # loop through movie in sublist
  for movie in sublist:

    # print length of each movie
    print(f"Length of {movie} is {len(movie)}.")

Length of Friends is 7.
Length of Family Guy is 10.
Length of Spider Man is 10.
Length of Game of Thrones is 15.
Length of Over the Moon is 13.
Length of Luca is 4.
Length of Home Alone is 10.
Length of Breaking bad is 12.
Length of Captain America is 15.

In [ ]:
# consider the same example of subject_dict

# first loop through subject_dict
for name ,subject in subject_dict.items():

  # print the name in first loop
  print(f"\nName = {name}")

  #loop through subject
  for sub in subject:
    print(subject[sub])

Name = Aaa
72
85

Name = Bbb
60
75

Name = Ccc
90
80

Name = Ddd
74
65