# Python Basics

## Python Tutor visualizer

- https://pythontutor.com/visualize.html#mode=edit

## Statements

- Python program is consist of lines composed of statements like **expression, assignment , a single statement, function defination, function call**

- Expressions
  - strings
  - integers (floating-point, complex numbers)
  - boolean values
  - lists and dictionaries

>- Strings

In [1]:
str = "Coding Dojo"
print('welcome to coding dojo')

welcome to coding dojo

In [2]:

print(str)
print('Welcome to '+str)

Coding Dojo
Welcome to Coding Dojo

In [3]:

str1 = 'Data Science'
str2 = 'Java'
print(f'I love {str1} and {str2} at {str}')

I love Data Science and Java at Coding Dojo

In [4]:

print(str1.upper())
print(str1.lower())
x = str1.isdigit()
print(x)

DATA SCIENCE
data science
False



>- Numbers

In [5]:


num = 1
print(num)
num = 3.14
print(num)
type(num)

1
3.14

float



>- Boolean values

In [6]:


bool_var = True
print(bool_var)

True


>- Lists and Dictionaries




>>- lists: [ ]
>>- dictionaries (hash tables): { }
>>- tuples: (item1,item2, ...)

In [7]:



# Lists

empty = [] 
num_lst = [4,5,6,7]
num_lst[2]

6

In [8]:


str_lst = ['bob','alice','Eve','Mallory']
print(str_lst[-1])
str_lst.append('sam')
print(str_lst[-1])
str_lst
str_lst.pop(1)
str_lst
str_lst[0]  ='BOB'
str_lst

Mallory
sam

['BOB', 'Eve', 'Mallory', 'sam']

In [9]:

print(str_lst['Eve'])

TypeError: list indices must be integers or slices, not str

In [10]:

# Tuple

(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [11]:

tpl = (1,2,3,'Hello',True,5.2)
tpl[4]
tpl[3]=30

TypeError: 'tuple' object does not support item assignment

In [12]:
# more operations on list 
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
print(list1+list2)
print(type(list1))
print(len(list1)+len(list2))
list3 = list1 +list2
list3[::-1]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
<class 'list'>
10

[5, 4, 3, 2, 1, 5, 4, 3, 2, 1]

In [13]:



# Adding 10 to list

for i in list1:
  print(i+10)

11
12
13
14
15

In [14]:


 

# List comprehension for a more compact implementation

# adding number to all list element

sum_list = [i + 10 for i in list1]
print(sum_list)

[11, 12, 13, 14, 15]

In [15]:

# dict

{"Name": "Sam", "Address": "1234 56th AVE", "Mobile": 1234567890}

{'Name': 'Sam', 'Address': '1234 56th AVE', 'Mobile': 1234567890}

In [16]:


{"Name": "Sam", "Address": "1234 56th AVE", "Mobile": 1234567890}['Mobile']

1234567890

In [17]:

my_dict = {"Name": "Sam", 
           "Address": "1234 56th AVE", 
           "Mobile": 1234567890}
type(my_dict)

dict

In [18]:





my_dict['Name']

'Sam'